---
import BannerText from "../components/BannerText/BannerText";
import Cursor from "../components/Cursor";
import MenuSlide from "../components/MenuSlide";
import TiltedBanner from "../components/TiltedBanner";
import MainLayout from "../layouts/MainLayout.astro";
import About from "../components/About";
import { motion } from "framer-motion";
import twitter from '../images/twitter.png'
import { Image } from "@astrojs/image/components";
// import ProjectComponent from "../components/ProjectComponent/ProjectComponent";
import ProjectSection from "../components/ProjectSection";
---

<MainLayout title="Andrian Lysander" description="My home page">

  <div class="min-h-screen flex items-center">
    <!-- <TiltedBanner client:load /> -->
    <div class="flex flex-col gap-y-4 items-start">
      <BannerText client:load />
      <a
        href="#projects"
        class="uppercase font-bold text-lg tracking-widest mt-16"
        >View Projects</a
      >
    </div>
  </div>
  <div class="min-h-screen">
    <About client:visible />
    <ProjectSection client:load />
  </div>


</MainLayout>

<script>
  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
  };
</script>
