---
// import ProjectComponent from "./ProjectComponent.astro";
import twitter from '../images/twitter.png'
import { RiTwitchFill } from "react-icons/ri";
import ProjectGradient from './ProjectGradient/ProjectGradient';
---



<div id="projects" class="py-6 min-h-screen ">
  <h1 class="font-bold text-2xl mb-32">Here are some of my projects</h1>
  <div class="grid grid-cols-2 gap-x-4">
    <!-- <ProjectComponent  image={twitter} technologies={["Next js", "Typescript", "React", "Tailwind", "tRPC"]} title="Twitter clone"  />
    <ProjectComponent  image={twitter} technologies={["Next js", "Typescript", "React", "Tailwind", "tRPC"]} title="Twitter clone"  /> -->
        <ProjectGradient client:load website="fdsfsdfs" title="Twitter clone" desc="fddsfsfd" technologies={["fdfsdfs"]} />
  </div>

</div>
