---
import { Image } from "@astrojs/image/components";
import { motion } from "framer-motion";
const { technologies,title,image } = Astro.props;

---
<style>


</style>

<div >
    <motion.div whileInView={{ opacity:1,x:0 }} initial={{ opacity:0,x:-100 }} client:load  className="p-16 justify-between gap-x-8 bg-white/30 h-full dark:bg-gray-700/30 border rounded-[50px] mx-auto max-w-3xl border-gray-300 dark:border-gray-700 flex items-center">
        <p class="text-xs  uppercase  font-semibold track-widest dark:text-gray-400 text-gray-900" style={{ writingMode:"vertical-lr"}}>
            {technologies.map((item,i)=>(
                
                <>
                    {technologies.length - 1 === i ? (
                        <span >{item}</span>
                    ):(
                        <span>{item + ", "}</span>
                    )}
                </>
            ))}
        </p>
        <!-- <div class="flex-1">
        <Image alt="cover" class="rounded-[50px]" format="png" width={400} height={500} fit="cover" src={image} />

        </div> -->
        <div class="flex flex-col  items-start gap-y-16">
            <h1 class="font-bold dark:text-white text-gray-900 text-4xl">{title}</h1>
        </div>
    </motion.div>
</div>