---
import { AnimatePresence } from "framer-motion";
import Cursor from "../components/Cursor";
import MenuSlide from "../components/MenuSlide";
import Navigations from "../components/Navigations";
import Preloader from "../components/Preloader/Preloader";
import VerticalText from "../components/VerticalText";
import useSlideInMenu from "../zustand/useSlideInMenu";
import Header from "./Header.astro";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props as Props;
---

<html lang="en" class="dark scroll-smooth">
  <Header title={title} description={description} />

  <body
    class="text-gray-900 px-4 xs:px-8 sm:px-16 md:px-32 dark:text-gray-300 bg-gradient-to-br from-gray-100 to-gray-300 dark:from-[#1f1f2b] overflow-x-hidden dark:to-[#191923] bg-no-repeat min-h-screen"
  >
    <Cursor client:load />

    <!-- <Preloader client:load /> -->
    <Navigations client:load />
    <slot />
    <MenuSlide client:load />
  </body>
</html>
